[submodule "lib/jinja"]
	path = lib/jinja
	url = https://github.com/wilvk/jinja.git
[submodule "lib/markupsafe"]
	path = lib/markupsafe
	url = https://github.com/wilvk/markupsafe.git
[submodule "lib/pexpect"]
	path = lib/pexpect
	url = https://github.com/wilvk/pexpect.git
[submodule "lib/ptyprocess"]
	path = lib/ptyprocess
	url = https://github.com/wilvk/ptyprocess.git
[submodule "lib/pyyaml"]
	path = lib/pyyaml
	url = https://github.com/wilvk/pyyaml.git
[submodule "lib/six"]
	path = lib/six
	url = https://github.com/wilvk/six.git
[submodule "lib/yamlreader"]
	path = lib/yamlreader
	url = https://github.com/wilvk/yamlreader.git
